#wrap {}
#wrap header {background-color:rgba(0,0,0,0.3);
    width:100%; height:100px; padding:0 80px; position:fixed; left:0; top:0;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center; z-index:900;
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
    overflow:hidden;
}
#wrap header nav .tab_menu {}
#wrap header nav .tab_menu li {display:inline-block;}
#wrap header nav .tab_menu li a {color:rgba(255,255,255,0.6);
    font-size:1.13rem; font-weight:700; letter-spacing:-0.02em;
    margin-right:30px; 
}
#wrap header nav .tab_menu li:last-child a {margin:0;}
#wrap header nav .tab_menu li .active {color:#fff;}
/* 공통 선택자 */
#wrap main {}
#wrap main .container {/* width:100% 삭제 */}
#wrap main .container .contents {padding-top:95px;}
#wrap main .container .contents .txt {width:1260px; margin:0 auto;}
#wrap main .container .contents .txt .title {
    display:flex; margin-bottom:50px;
    flex-flow:column nowrap; align-items:center; justify-content:center;}
#wrap main .container .contents .txt .title .title_top {
    position:relative;
    font-size:1.25rem; font-weight:500; line-height:1.5; letter-spacing:-0.02em;}
#wrap main .container .contents .txt .title .title_top::after {
    display:block; content:''; background-color:#697901;
    width:50px; height:3px; 
    position:relative; left:0; top:0; margin:15px auto;
}
#wrap main .container .contents .txt .title p {font-size:1.5rem; letter-spacing:-0.02em;}
#wrap main .container .contents .txt .title p span {font-weight:600;}
/* 메인배너 */
#wrap main .container .main_bnr {
    height:100vh;
    background-image:url(../images/main_bnr.jpg);
    background-position:center;
    background-size:cover;
    display:flex; flex-flow:column nowrap;
    align-items:center; justify-content:center;
}
#wrap main .container .main_bnr::after {
    width:100%; height:100vh; display:block; content:'';
    background-color:rgba(0,0,0,0.6);
    position:absolute; left:0; top:0; z-index:100;
}
#wrap main .container .main_bnr > * 
{color:#fff; position:relative; z-index:200; letter-spacing:-0.02em;
}
#wrap main .container .main_bnr h1 {
    text-align:center; margin-bottom:60px;
    font-size:5.00rem; font-weight:600; line-height:1.3;
}
#wrap main .container .main_bnr p {
    text-align:center;
    font-size:1.25rem; font-weight:500; line-height:1.5;}
/* 1행 방 소개 */
#wrap main .container .room_list {background-color:#FEFFF5; padding-bottom:50px;}
#wrap main .container .room_list .txt {}
#wrap main .container .room_list .txt .title {}
#wrap main .container .room_list .txt .title h2 {}
#wrap main .container .room_list .txt .title .bar span {}
#wrap main .container .room_list .txt .title p {}
#wrap main .container .room_list .txt .title p span {}
#wrap main .container .room_list .txt .room_list_wrap {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
#wrap main .container .room_list .txt .room_list_wrap li {border-radius:10px; width:calc((100% - 60px) / 4);}
#wrap main .container .room_list .txt .room_list_wrap li a {}
#wrap main .container .room_list .txt .room_list_wrap li a > .room_pic {margin-bottom:20px;}
#wrap main .container .room_list .txt .room_list_wrap li a > .room_pic img {width:100%;}
#wrap main .container .room_list .txt .room_list_wrap li a h3 {
    color:#697901;
    font-size:1.38rem; font-weight:600; letter-spacing:-0.02em;
    margin-bottom:5px;
}
#wrap main .container .room_list .txt .room_list_wrap li a p {line-height:1.5; letter-spacing:-0.02em;}
#wrap main .container .room_list .txt .room_list_wrap li a p span {color:#444;}
#wrap main .container .room_list .txt .room_list_wrap li a p:last-child {margin:15px 0 0;}
/* 2행 주변관광지 소개 */
#wrap main .container .travel {}
#wrap main .container .travel .txt {width:100%;}
#wrap main .container .travel .txt .title {}
#wrap main .container .travel .txt .title h2 {}
#wrap main .container .travel .txt .title h2 .bar span {}
#wrap main .container .travel .txt .title p {}
#wrap main .container .travel .txt .title p span {}
#wrap main .container .travel .txt .travel_list {
    width:100%; display:flex; flex-flow:row nowrap;
    position:relative;
}
#wrap main .container .travel .txt .travel_list::after {
    display:block; width:100%; height:660px; content:'';
    background-color:rgba(0,0,0,0.5);
    position:absolute; left:0; top:0; z-index:100;
}
/* 주변관광지 공통선택자 */
#wrap main .container .travel .txt .travel_list .travel_bg {
    width:50%; height:660px; padding-bottom:40px;
    text-align:center;
    display:flex; flex-flow:column nowrap;
    align-items:center; justify-content:flex-end;
}
#wrap main .container .travel .txt .travel_list .travel_bg ul {
}
#wrap main .container .travel .txt .travel_list .travel_bg ul li {
    color:#fff; position:relative; z-index:200;
}
#wrap main .container .travel .txt .travel_list .travel_bg ul li:nth-child(2) {margin:15px 0 30px 0;}
#wrap main .container .travel .txt .travel_list .travel_bg ul .travel_top {
    font-size:2.0rem; font-weight:600; letter-spacing:-0.02em;
}
#wrap main .container .travel .txt .travel_list .travel_bg ul li .more_btn {
    color:#fff; padding-bottom:2px; border-bottom:1px solid #fff;
}
#wrap main .container .travel .txt .travel_list .travel_bg ul li .more_btn:hover
{font-weight:700;}
/* 주변관광지 개별선택자 */
#wrap main .container .travel .txt .travel_list .content1 {background-image:url(../images/travel_1.jpg);}
#wrap main .container .travel .txt .travel_list .content1 ul {}
#wrap main .container .travel .txt .travel_list .content1 ul li {}
#wrap main .container .travel .txt .travel_list .content1 ul .travel_top {}
#wrap main .container .travel .txt .travel_list .content1 ul li .more_btn {}
/* - */
#wrap main .container .travel .txt .travel_list .content2 {background-image:url(../images/travel_2.jpg);}
#wrap main .container .travel .txt .travel_list .content2 ul {}
#wrap main .container .travel .txt .travel_list .content2 ul li {}
#wrap main .container .travel .txt .travel_list .content2 ul .travel_top {}
#wrap main .container .travel .txt .travel_list .content2 ul li .more_btn {}
/* 3행 오시는 길 */
#wrap main .container .location {padding-bottom:100px;}
#wrap main .container .location .txt {}
#wrap main .container .location .txt .title {}
#wrap main .container .location .txt .title h2 {}
#wrap main .container .location .txt .title h2 .bar span {}
#wrap main .container .location .txt .title p {}
#wrap main .container .location .txt .title p span {}
#wrap main .container .location .txt .location_wrap {}
#wrap main .container .location .txt .location_wrap p {}
#wrap main .container .location .txt .location_wrap p img {width:100%; border-radius:10px; margin-bottom:15px;}
#wrap main .container .location .txt .location_wrap ul {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
#wrap main .container .location .txt .location_wrap ul li {
    border-radius:10px; overflow:hidden; width:calc((100% - (8px * 2)) / 3);
    display:flex; flex-flow:column nowrap; text-align:center;
}
#wrap main .container .location .txt .location_wrap ul li {}
#wrap main .container .location .txt .location_wrap ul li .location_up {
    background-color:#697901; font-weight:600; color:#fff; padding:14px 0;
    font-size:1.38rem;
}
#wrap main .container .location .txt .location_wrap ul li .location_down {
    background-color:#F5F5F5; height:170px;
    font-size:1.13rem; display:flex; flex-flow:column wrap;
    justify-content:center; 
}
#wrap main .container .location .txt .location_wrap ul li .location_down p {
    letter-spacing:-0.02em; line-height:1.5;}
#wrap main .container .location .txt .location_wrap ul li .location_down p span {
    display:block; font-size:1.25rem; font-weight:600; line-height:1.0; margin-bottom:20px;
}
/* footer 시작 */
#wrap footer {background-color:#697901;}
#wrap footer .inner {
    height:250px; display:flex; flex-flow:row nowrap;
    justify-content:space-between; align-items:center;
    padding:0 80px 0;
}
#wrap footer .inner address {}
#wrap footer .inner address p {
    color:#fff;
    font-size:0.88rem; line-height:1.5; letter-spacing:-0.02em;}
#wrap footer .inner address p span {font-weight:600;}
#wrap footer .inner .f_right {}
#wrap footer .inner .f_right a {}
#wrap footer .inner .f_right a img {}