#wrap {}
#wrap header {background-color:rgba(0,0,0,0.3);
    width:100%; height:100px; padding:0 80px; position:fixed; 
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center; z-index:200;
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
    overflow:hidden;
}
#wrap header nav .tab_menu {}
#wrap header nav .tab_menu li {display:inline-block;}
#wrap header nav .tab_menu li a {color:rgba(255,255,255,0.6);
    font-size:1.13rem; font-weight:700; letter-spacing:-0.02em;
    margin-right:30px; 
}
#wrap header nav .tab_menu li:last-child a {margin:0;}
#wrap header nav .tab_menu li .active {color:#fff;}
#wrap main {}
#wrap main .container {}
#wrap main .container .txt {}
#wrap main .container .main_bnr {}
#wrap main .container .main_bnr h1 {}
#wrap main .container .main_bnr p {}

/* footer 시작 */
#wrap footer {background-color:#697901;}
#wrap footer .inner {
    height:250px; display:flex; flex-flow:row nowrap;
    justify-content:space-between; align-items:center;
    padding:0 80px 0;
}
#wrap footer .inner address {
    color:#fff;
    font-size:0.88rem; line-height:1.5; letter-spacing:-0.02em;
}
#wrap footer .inner address span {font-weight:600;}
#wrap footer .inner .f_right {}
#wrap footer .inner .f_right a {}
#wrap footer .inner .f_right a img {}